@import "tailwindcss";

:root {
    font-family: "Sora", "Avenir Next", "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #FAF9F5;
    background-color: #141413;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    min-height: 100%;
}

a {
    color: inherit;
}
